html,body, tr {
    margin:0px;
    padding:0px;
    border:0px;
}
body {
    padding-left:1em;
    padding-right:1em;
}
body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 11px;    
}
div.add-box  {
    width : 100%;
}
div.add-box textarea {
    min-width: 100%;
    min-height: 3em;
    resize:none;
    border:none;
    background-color:grey;
}
table, tr  {
    border-collapse: collapse; 
    border-style: solid;
    border-width:thin;
    border-color:black;
}
td.download-status {
    min-width: 9em;
    text-align: center;
    overflow: hidden;
    background-color: blue;
}
td.download-retry {
    min-width: 4em;
    text-align: center;
    overflow: hidden;
    background-color: yellow;
}
td.download-date {
    min-width: 14em;
    text-align: center;
    background-color: brown;
}
td.download-url {
    max-width: 50em;
    overflow: hidden;
    background-color: green;
    white-space: nowrap;
}
/*
table.download-progress{
}
*/
td.progress-percent{
    min-width: 5em;
    text-align: center;
    background-color: blue;
}
td.progress-size {
    min-width: 8em;
    text-align: center;
    background-color: magenta;
}
td.progress-speed{
    min-width: 8em;
    text-align: right;
    background-color: darkgoldenrod;
}
td.progress-eta{
    min-width: 8em;
    text-align: center;
    background-color: brown;
}
td.progress-url{
    text-align: left;
    width : 100%;
    background-color: green;
}
h1 {
    font-size : 15px;
    text-align: center;
    margin-top : 1.5em;
    margin-bottom : 0.5em;
}

button {
    background-color: darkgoldenrod;
    border : 2px solid darkgoldenrod;
    border-radius: 2px;
    margin :0.5em;
    padding : 0.2em;
    box-shadow: 1em red;
}
button:hover {
    background-color: greenyellow;    
}